/*-- default type styling -- */
* {
  font-family: arial, sans-serif;
  font-size: 18px;
}

html {
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

img {
  width: 30vw;
  margin: 20px auto;
}
