html {
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.slide {
}

/*-- default type styling -- */
* {
  font-family: arial, sans-serif;
  font-size: 16px;
}

a{
  text-decoration: none;
  text-transform: uppercase
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: hotpink;
}
