/*-- default type styling -- */
.typography {
  font-family: arial, sans-serif;
  font-size: 18px;
}

.kill-scroll{
  overflow: none;
}

.flex {
  display: flex;
  margin: 20px;
}

.flex-just{
  justify-content: space-between;
}

.flex-center{
  justify-content: space-around;
}
